= render :partial => "layouts/header"

.content
  .password-area
    #password-form
      .heading
        Enter the secret content password
      .entry
        = password_field_tag "secret_password"
.secret-footer
  = render :partial => "layouts/footer"


:javascript
  $(function(){
  
  	$.backstretch("/assets/secret-bg.jpg");
  
  });